<html>
	<head>
		<link rel="stylesheet" type="text/css" href="v8help://service_book/service_style"></link>
	</head>
	<body>
		<h1>Приветствуем Вас, [Разработчик]!</h1>
		<div>Перед Вами тест, содержащий несколько необычных вопросов на знание работы встроенного языка платформы 1С. На его выполнение отведено <strong>[ОтведенноеВремя]</strong></div>
		<h2>Вопросы и выбор ответов</h2>
		<p></p>
		<div>Каждый вопрос представлен текстом модуля исполняемой подпрограммы. Логическим завершением подпрограммы выступает <strong>сообщение пользователю</strong> с результатами ее выполнения. Вам будут предложены несколько вариантов возможных сообщений, среди которых необходимо найти правильный. Например:</div>
		<div><img width="565" height="527" style="width: 384px; height: 392px;" src="CommonPicture.Пример1"></div>
		<div>Здесь после выполнения обработчика команды будет выведено сообщение пользователю с текстом "4". Поэтому следует выбрать вариант ответа с аналогичным представлением.</div>
		<br>
		<div>В некоторых заданиях представленная подпрограмма завершается не сообщением пользователю, а окном <strong>предупреждения об ошибке</strong>. Такой вариант также предусмотрен среди ответов: "Ошибка!". И выбирать следует его. Например:</div>
		<div><img width="562" height="527" style="width: 402px; height: 393px;" src="CommonPicture.Пример2"></div>
		<div>Здесь во время выполнения программы будет сгенерировано исключение (деление на 0). Т.к. исключительная ситуация <strong>не</strong> подавляется блоком <strong>Попытка-Исключение</strong>, пользователь увидит окно об ошибке вместо пользовательского сообщения. Поэтому правильны ответ здесь: "Ошибка!"</div>
		<h2>Результаты</h2>
		<div>После ответов на все предложенные вопросы Вы сразу же сможете узнать свои результаты, а также получить комментарий по каждому из вопросов. Чтобы уменьшить соблазн подсказывать другим участникам олимпиады, свои результаты Вы увидите только после того, как все участники закончат тестирование.</div>
		<br>
		<div>Дополнительно Вам будет доступна сводная таблица по результатам всех Ваших коллег и их рейтинг. Когда она откроется, будут объявлены победители.</div>
		<br>
		<h1>Желаем удачи!</h1>
	</body>
</html>